@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --green: #3cB043;
  --pink: #e7195a;
  --light-pink: #fa88acbb;
}

html,
body,
#root,
.App,
.pages {
  height: 100%;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
.pages {
  display: flex;
  
}
