.pages header {
  padding: 15px 20px;
}
header a {
  color: #333;
  text-decoration: none;
  
}
.navbar h1{
  padding-bottom: 10px;
  border-bottom: solid 0.5px #333;
}
.active{
  color: var(--pink);
}

